/venv
/.venv

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

.dockerignore
!docker/Dockerfile.node

docker-compose.override.yml 
*.bak

*.log
*.err
*.out
/logs/

*.db
*.sqlite
/data/

.env

.pytest_cache/
htmlcov/
.coverage

.locustfile